
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    transition: all 0.3s;

    
}


.body{
    min-height: 100vh;
    background-image: url(../images/tm-bg-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
   
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}


.header{
    max-width: 1060px;
    min-height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo h2, .logo svg{
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    
}

.logo, a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 0;
    
}

.menu{
    max-width: 720px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.menu a{
    color: black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
        
}

.menu a:hover{
    background-color: #f6f5f3;
    color: #7f8fb0;
    
}

.content_text{
    max-width: 640px;
    min-height: 200px;
    color:#f7f5eb;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 2;
    padding-bottom: 20px;
}

.content_text h2{
    text-transform: capitalize;
}

.content_pictures{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    

}


.items{
    flex-basis: 270px;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
}


.items img{
    max-width: 100%;
   
}

.items_text{
   position: absolute;
   top: calc(100% * 2 / 4 - 50px);
   /* left: calc(32% - 2rem); */
   left: calc(100% * 2 / 4 - 85px);


}

.items_text h2{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.8em;
}


.social{
    max-width: 280px;
    min-height: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;



}

.icons{
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 8px;
    flex-shrink: 0;
    
}

.icons img{
   height: 18px;
    
}

.copyright{
    /* max-width: 500px; */
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    margin: 20px 0;
}



.copyright p{
    color: #e6e6e6;
    font-size: 18px;
}